body {
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

h4 {
  text-align: center;
  padding: -45px;
}

h2 {
  text-align: center;
}

header {
  padding: 35px;
  margin: 50px;
  border: 5px solid plum;
  background-color: darkslategray;
  border-radius: 10px;
}

footer {
  padding: 35px;
  margin: 50px;
  border: 5px solid plum;
  background-color: darkslategray;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  display: inline;
  float: right;
  padding: 5px;
  color: lavender;
}

a {
  color: lavenderblush;
  font-size: medium;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: plum;
}

#personal_photo {
  display: block;
  margin: auto;
  padding: 25px;
  border: 5px solid plum;
  border-radius: 50%;
  background-color: darkslategray;
}

img {
  border: solid darkslategray;
}

p {
  color: lavender;
  font-weight: bolder;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 5px solid plum;
  background-color: darkslategray;
  border-radius: 10px;
  padding: 20px;
}

.float-left {
  position: absolute;
  right: 1000px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 100px;
  font-weight: bold;
}

#float-right {
  position: absolute;
  left: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 4px;
  justify-content: right;
}

@media screen and (max-width: 768px) {
  * {
    width: 100;
  }
}
