* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

header {
  padding: 35px;
  margin: 50px;
  border: 5px solid plum;
  background-color: darkslategray;
  border-radius: 10px;
}

h2,
h3 {
  text-align: center;
  color: darkslategray;
  font-size: 30px;
  background-color: lavender;
  border: solid darkslategray;
  padding: 20px;
  margin: 40px;
  border-radius: 5px;
}

h4 {
  text-align: center;
  padding: -45px;
}

a {
  color: lavenderblush;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  display: inline;
  float: right;
  padding: 5px;
  color: lavender;
  font-weight: bold;
}

p {
  color: lavender;
  font-weight: bolder;
  font-size: large;
  border: 5px solid plum;
  background-color: darkslategray;
  border-radius: 10px;
  padding: 20px;
}

footer {
  padding: 35px;
  margin: 50px;
  border: 5px solid plum;
  background-color: darkslategray;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: plum;
}

#personal_photo {
  display: block;
  margin: auto;
  padding: 25px;
  border: 5px solid plum;
  border-radius: 50%;
  background-color: darkslategray;
}

img {
  border: solid darkslategray;
  border-width: thick;
}

.mx-auto {
  margin: 0 auto;
  color: lavender;
  font-size: medium;
  font-weight: bold;
  font-size: 25px;
}

.text {
  padding-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 4px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .container .image {
    flex: 0 0 100%;
  }
}
